<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link type="text/css" rel="stylesheet" href="/views/cadastro/cadastro.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <div class="cadastro-site">
        <div style="margin-top: 10px; margin-bottom: 5px; text-align: center;">
            <img style="align-self: center;" class="mb-2" width="120" height="100" src="/assets/planetinha.png">
        </div>
        <div class="suporte-cadastro">
            <h2>PlanetJS</h2>
            <form action="/register" method="POST" class="needs-validation" novalidate>
                <div class="container-fluid">
                    <h5>Cadastro</h5>
                    <div class="form-row">
                        <div class="col-6">
                            <label for="nome">Nome</label>
                            <input required name="nome" id="nome" class="form-control input-cadastro" type="text">
                            <div class="invalid-feedback">
                                Campo obrigatório
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="cpf">CPF</label>
                            <input required name="cpf" id="cpf" class="form-control input-cadastro" type="text">
                            <div class="invalid-feedback">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <label for="email">Email</label>
                            <input required name="email" id="email" class="form-control input-cadastro" type="email">
                            <div class="invalid-feedback">
                                Campo obrigatório
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="senha">Senha</label>
                            <input required name="senha" id="senha" class="form-control input-cadastro" type="password">
                            <div class="invalid-feedback">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn mt-5" style="color:#ffffff; background-color: #03a3108a; width: 100%;">Cadastrar</button>
                        <p class="mt-3" style="align-self: center;">Já possui uma conta?</p>
                        <a href="/login" type="submit" class="btn 2"
                            style="color:#ffffff; background-color:#0000008a; width: 100%;">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/views/cadastro/cadastro.js"></script>
</html>